main {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  gap: var(--scale-md);
  margin-left: 16rem;
}
.video-container {
  padding: var(--scale-md) var(--scale-lg);
  min-height: 100vh;
}
@media screen and (max-width: 720px) {
  main {
    margin-left: 0;
  }
  .video-container {
    padding: var(--scale-md) var(--scale-sm);
  }
}
