.card {
  position: relative;
}
.playlist-info {
  align-items: center;
  background-color: var(--secondary-color);
  border-top-right-radius: var(--scale-md);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 35%;
  opacity: 0.8;
  padding: var(--scale-md);
  position: absolute;
  right: 0;
  top: 0;
}
